@tailwind components;

@layer components {
  .section {
    padding-block: 100px;
  }

  .section.image {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }

  .section.image::before {
    @apply bg-black;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.8;
  }
}
